NODE_ENVIROMENT= # development, production, test

# Port Server
APP_PORT=

# DB Configs
DB_SYNCHRONIZE= # true or false
DB_LOGGING= # true or false
DB_MIGRATIONSRUN= # true or false

DB_TYPE=
DB_HOST=
DB_PORT=
DB_NAME=
DB_SCHEMA=
DB_PASSWORD=
DB_USERNAME=
